@font-face {
  font-family: assistant;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Assistant Regular'), local('Assistant-Regular');
}

@font-face {
  font-family: assistant;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Assistant SemiBold'), local('Assistant-SemiBold');
}

@font-face {
  font-family: assistant;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Assistant Bold'), local('Assistant-Bold');
}
